
<div class="blog_title"><h1>Blog</h1></div>
<% if notice %>
  <p id="notice">
    <%= notice %>
  </p>
<% end %>

<div class= "npb" >
  <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe + " New Post", new_post_path, class: "btn btn-primary btn-lg" %>
</div>

<% @posts.order(created_at: :desc).each do |post| %>
  <div class="container-fluid">  
    <div class="page-header" > 
    <h2><%= link_to post.title, post_path(post.id) %> <small><%= post.author %></small><br>
      <small><%= post.created_at.localtime.strftime("%A, %b %-d, %Y  %l:%M%p") %></small></h2>
    </div>
    
    <%= image_tag post.image.url(:medium) if post.image?%>
   
    <p><%= post.body %></p>

    <h4>Comments</h4>
    <ul class="list-group">
      <% post.comments.last(3).reverse.each do |comment| %>
        <li class="list-group-item comment_size"><%= comment.body %></li>
      <% end %>
    </ul>
    <%= link_to 'View/Comment', post_path(post.id) , class: "btn btn-default"%>
  </div>
<% end %>



