<p id="notice"><%= notice %></p>

<h1> Post </h1>
<div class="page-header">
  <h2><%= @post.title  %> <small><%= @post.author %></small><br>
  <small><%= @post.created_at.strftime("%A, %b %-d, %Y  %l:%M%p") %></small></h2>
</div>
<p><%= @post.body %></p>
  <%= link_to 'Back', posts_path, class: "btn btn-default" %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-info" %>
  <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe + ' New comment', new_post_comment_path(@post), class: "btn btn-primary" %>

<h3>Comments</h3>

<ul class="list-group">
  <% @post.comments.each do |comment| %>
    <%= link_to comment.body, edit_post_comment_path(comment.post, comment), class: "list-group-item comment_size" %>
  <% end %>
</ul>

