<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @post.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p> -->

<h1> Post </h1>

<h2><%= @post.title  %></h2>
<h3><%= @post.author %></h3>
<p><%= @post.body %></p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> | 
<%= link_to 'Comment', new_post_comment_path(@post) %>

<h3>Comments</h3>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.body %></li>
    <%= link_to "Edit", edit_post_comment_path(comment.post, comment) %>
  <% end %>
</ul>

