<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="title"> 
  <div id="logo">
    <h1><%= link_to 'Paul Cox', root_path %></h1>
    <h2>Developer</h2>
    <%= render 'layouts/navbar' %>
  </div>
</div>
<%= yield %>
<p>&copy; 2014 Paul Cox</p> 
</body>

</html>
